
	<img src="./images/bg.jpg" class="" inline>
	
	<div class="frame frame1">
		
		
		<!-- <img src="./images/choc.png" class="choc" inline> -->
		<img src="./images/rose.png" class="rose" inline>
		<img src="./images/choc.png" class="retina choc" inline>
		<img src="./images/heart.png" class="retina heart" inline>
		
		
		<img src="./images/t1.png" class="t1 retina" inline>
		<img src="./images/t2_rose.png" class="t2_rose retina" inline>
		<img src="./images/t3_choc.png" class="t3_choc retina" inline>
		<img src="./images/t4_points.png" class="t4_points retina" inline>

		<img src="./images/t5a.png" class="t5a retina" inline>
		<img src="./images/t5b.png" class="t5b retina" inline>

		<img src="./images/cta.png" class="cta retina" inline>

		<img src="./images/cta_chev.png" class="cta chev retina" inline>
	</div>

	<img src="./images/logo.png" class="retina logo" inline>
	
